.container
  .playercontainer#pc
    #player
  .listcontainer
    %ul#listArea
      %li#info Youque is a temperary playlist creator for binging youtube videos. </br> Paste video below to get started.
  #inputArea
    .innerInputContainer
      %input#user_text
      %button#user_add Add